// 🎨 Colors
$main-pink: #f06292;
$pink-bg: #fff1f7;
$main-text-color: #333;
$black-color: #000;
$white-color: #fff;
$body-bg: $pink-bg;
$pink-color: #f99fb9;
$body-bg: #fdf8f7;
$main-orange: #f99fb9;


// 🔠 Font Weights
$regular: 400;
$medium: 500;
$bold: 600;

// 🔤 Font Families
$futura-font-family: "Futura", sans-serif;
$montserrat-font-family: "Montserrat", sans-serif;
$roboto-font-family: "Roboto", sans-serif;
$nunito-font-family: "NunitoSans", sans-serif;

