<header>
  <!-- زر فتح القائمة -->
<button class="mobile-toggle" (click)="toggleMobileMenu()">
  <i class="material-icons">menu</i>
</button>

<!-- قائمة الموبايل -->
<div class="mobile-menu" *ngIf="mobileMenuOpen">
  <div class="date-option"
       [class.active]="activatedPage === 'today'"
       (click)="switchPeriodPage('today')">
    Today
  </div>

  <div class="date-option"
       [class.active]="activatedPage === 'yesterday'"
       (click)="switchPeriodPage('yesterday')">
    Yesterday
  </div>

  <div class="date-option"
       [class.active]="activatedPage === 'last-week'"
       (click)="switchPeriodPage('last-week')">
    Last week
  </div>

  <!-- باقي عناصر الموبايل زي الفلاتر ... -->
  <div class="filter-start">
    <i class="material-icons">label_outline</i>
    <p-calendar [(ngModel)]="dateStart" [showIcon]="true" placeholder="Start date - time"></p-calendar>
  </div>

  <div class="filter-end">
    <i class="material-icons">send</i>
    <p-calendar [(ngModel)]="dateEnd" [showIcon]="true" placeholder="End date - time"></p-calendar>
  </div>
</div>


  <!-- ✅ الهيدر العادي يظهر فقط لو الشاشة كبيرة -->
  <ng-container *ngIf="!isMobile">
    <div class="left-side">
      <div class="box-container">
        <img src="/assets/icons/asma.svg" alt="icon" />
        <h3>2/3</h3>
        <p>Monitored Stations</p>
      </div>
      <div class="box-container">
        <i class="material-icons">replay</i>
        <h3>20s</h3>
        <p>Monitored Stations</p>
      </div>
    </div>

    <div class="center-side">
      <div class="switcher-container">
        <div
          class="today-date"
          [class.active]="activatedPage === 'today'"
          (click)="switchPeriodPage('today')"
        >
          <h3>Today</h3>
        </div>
        <div
          class="yesterday-date"
          [class.active]="activatedPage === 'yesterday'"
          (click)="switchPeriodPage('yesterday')"
        >
          <h3>Yesterday</h3>
        </div>
        <div
          class="last-week-date"
          [class.active]="activatedPage === 'last-week'"
          (click)="switchPeriodPage('last-week')"
        >
          <h3>Last week</h3>
        </div>
      </div>
    </div>

    <div class="right-side">
      <div class="filter-start">
        <i class="material-icons">label_outline</i>
        <p-calendar [(ngModel)]="dateStart" [showIcon]="true" placeholder="Start date - time"></p-calendar>
      </div>

      <div class="filter-end">
        <i class="material-icons">send</i>
        <p-calendar [(ngModel)]="dateEnd" [showIcon]="true" placeholder="End date - time"></p-calendar>
      </div>
    </div>
  </ng-container>
</header>
